{% extends 'base.html' %}

{% block title %}YouTube Videos{% endblock %}
{% block content %}
{% for item in res_data.items %}
<iframe
class="rounded-lg"
width="560"
height="314"
src="https://www.youtube.com/embed/{{ item.id.videoId }}"
srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ item.id.videoId }}?autoplay=1><img  src={{ item.snippet.thumbnails.high.url }} alt='{{ item.snippet.title }}'><span>▶</span></a>"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen
title="{{ item.snippet.title }}"
></iframe>
{% endfor %}
{% endblock %}